@charset "utf-8";
/* CSS Document */
/*******************************************************************DEFAULT*********/
/**********************************************************************************/
@font-face {
	font-family: montserrat;
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.woff2') format('woff2'),		
		url('../fonts/Montserrat-Regular.ttf') format('truetype'),
		url('../fonts/Montserrat-Regular.otf') format('opentype');
}
@font-face {
	font-family: montserratB;
	src: url('../fonts/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat-Bold.eot?#iefix') format ('embedded-opentype'),
		url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.woff2') format('woff2'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype'),
		url('../fonts/Montserrat-Bold.otf') format('opentype'),;
	font-weight: bold;
}
@font-face {
	font-family: montserratL;
	src: url('../fonts/Montserrat-Light.eot');
	src: url('../fonts/Montserrat-Light.eot?#iefix') format ('embedded-opentype'),
		url('../fonts/Montserrat-Light.woff') format('woff'),
		url('../fonts/Montserrat-Light.woff2') format('woff2'),
		url('../fonts/Montserrat-Light.ttf') format('truetype'),
		url('../fonts/Montserrat-Light.otf') format('opentype'),;
	/* [disabled]font-weight: bold; */
}
* {
	padding: 0;
	margin: 0;
}
p, h1, h2, a , li, sub {
	font-family: "montserrat", Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
img {
	max-width:100%;
	height: auto;
}
/*******************************************************************SLEEVE*********/
/**********************************************************************************/
div#sleeve {
	width: 100%;
	margin: 0 auto;
	background-color: #252525;
	height: 30%;
}
div#sleeve ul {
}
div#sleeve ul li {
	display: inline-block;
	padding: 0.2% 0.5%;
}

div#sleeve ul li:first-child {
	background-color: #ec0027;
	margin-left: 10%;
	width: 20%;
	text-align: center;
	margin-right: 50%;
}


div#sleeve ul li:first-child a {
	font-size: 0.8em;
	text-transform: none;
}
div#sleeve ul li:first-child a img {
	margin-right: 2%;
}
div#sleeve ul li a {
	text-transform: uppercase;
	color: #FFF;
	font-size: 0.8em;
}
div#sleeve ul li span {
	color: #999999;
}
div#sleeve img {
	vertical-align: central;
}
div#sleeve ul li:nth-child(4) a{
	font-weight: bold;
}

/*******************************************************************HEADER********/
/**********************************************************************************/
div#header {
	height: auto;
	width: 100%;
	margin: 0 auto;
}
div#header div h1 {
	/* [disabled]display: inline-block; */
	text-align: center;
	text-transform: uppercase;
	margin: 2% 0;
	/* [disabled]margin-right: 28%; */
	/* [disabled]padding-left: 43%; */
	color: #252525;
	font-size: 1.5em;
}
div#header div h1 span {
	font-size: 1.6em;
}

div#header div div.cart_user {
	/* [disabled]display: inline-block; */
	/* [disabled]width: 10%; */
	margin: 2% 0;
	text-align: center;
}
div#header div div.cart_user a:first-child {
	margin-right: 25%;
}

div#header ul {
	padding-bottom: 5%;
	/* [disabled]margin-left: 25%; */
	color: #252525;
	text-align: center;
}
div#header ul li {
	display: inline-block;
	margin: 0 1%;
}

div#header ul li a {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}
div#header ul li a:hover {
	font-size: 1em;
}
div#header ul li:nth-child(5) {
	/* [disabled]margin-right: 17%; */
}

div#mainContent {
	margin: 0 auto;
	width: 100%;
}

/*******************************************************************CONTENT********/
/**********************************************************************************/
div#mainContent div.mainImg {
	background: url(../images/sea.jpg) center no-repeat;
	height: 516px;
	text-align: center;
	display: table;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
}

div#mainContent div.mainImg p {
	display: inline-block;
	color: #FFF;
	margin-top: 20%;
}
div#mainContent div.mainImg p:first-child {
	font-size: 10em;
	text-align: right;
	font-weight: bold;
}
div#mainContent div.mainImg p:nth-child(2) {
	font-size: 2.5em;
	text-align: left;
	text-transform: uppercase;
	margin-left: -2%;
	line-height: 105%;
	font-weight: bold;
}
div#mainContent div.mainImg a {
	display: block;
	text-align: center;
	margin-top: 2%;
}
div#mainContent h1.mainProducts   {
	font-size: 2.5em;
	margin-bottom: 3%;
	text-transform: uppercase;
	color: #252525;
	margin-top: 6%;
	/* [disabled]margin-left: 13%; */
	font-weight: bold;
	text-align: center;
}
div#mainContent ul.mainProducts {
	background-color: #f0f3f8;
	text-align: center;
	padding: 4% 0;
}
div#mainContent ul.mainProducts li {
	display: inline-block;
	width: 40%;
	text-align: left;
	padding: 0 4%;
}
div#mainContent ul.mainProducts li:first-child p{
	text-align: justify;
	margin-bottom: 10%;
	color: #252525;
}
div#mainContent ul.mainProducts li:first-child p:first-child {
	font-weight: bold;
}

div#mainContent ul.mainProducts li a {
	padding: 3% 5%;
	background-color: #ec0027;
	text-transform: uppercase;
	color: #FFF;
	font-size: 0.8em;
}
div#mainContent ul.mainProducts li:last-child {

}
div#mainContent ul.mainProducts li:last-child img {
	margin-top: -24%;
}


div#mainContent ul.mainProducts li:last-child p{
	text-align: center;
	color: #ec0027;
	font-size: 2em;
	font-weight: bold;
}

div#mainContent ul.mainProducts li:last-child p span {
	font-size: 0.6em;
	color: #666666;
	background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
	margin-left: 4%;
}
div#mainContent ul.mainProducts li:last-child p:last-child {
	font-size: 1em;
	color: #252525;
	text-transform: capitalize;
	font-weight: bold;
}
div#mainContent dl.mainLocations {
	margin-top: 7%;
	text-align: center;
}


div#mainContent dl.mainLocations dt {

}
div#mainContent dl.mainLocations dt h1 {
	display: inline-block;
	margin-right: 15%;
	text-transform: uppercase;
	font-size: 2.5em;
	color: #252525;
}
div#mainContent dl.mainLocations dt a {
	display: inline-block;
	text-align: right;
	text-transform: uppercase;
	color: #ec0027;
	width: 40%;
	font-size: 0.8em;
	font-weight: bold;
}
div#mainContent dl.mainLocations dt a img {
	vertical-align: middle;
	margin-left: 5%;
}

div#mainContent dl.mainLocations dd {
	display: inline-block;
	background-color: #f0f3f8;
	width: 20%;
	margin: 6%;
}
div#mainContent dl.mainLocations dd img {
	margin-bottom: 10%;
	margin-left: -20%;
}
div#mainContent dl.mainLocations dd h2 {
	margin-bottom: 8%;
	font-size: 1em;
	text-transform: capitalize;
	color: #333333;
}
div#mainContent dl.mainLocations dd p {
	text-align: left;
	color: #333333;
	margin-bottom: 25%;
	padding: 0 6%;
	font-size: .7em;
}
div#mainContent dl.mainLocations dd a {
	padding: 7% 0;
	background-color: #ec0027;
	color: #FFF;
	text-transform: uppercase;
	font-size: 0.8em;
	display: block;
	font-weight: bold;
}
/*******************************************************************FOOTER*********/
/**********************************************************************************/
div#footer {
	width: 100%;
	margin: 0 auto 2% auto;
	background-color: #22252b;
	text-align: center;
	box-shadow: 0px 5px 5px #222222;
}
div#footer div.email {
	margin-top: 3%;
	padding: 2% 0;
}

div#footer div.email h1 {
	display: inline-block;
	text-transform: uppercase;
	color: #FFF;
	font-size: 1em;
	padding-right: 8%;
	vertical-align: middle;
}
div#footer div.email h1 span {
	font-size: 1.5em;
}

div#footer div.email input {
	display: inline-block;
	width: 60%;
	padding: 1%;
	color: #9e9e9e;
	border: 0;
	background: #3d414a url(../images/glass.png) 98% no-repeat;
}
div#footer ul.links {
	margin-bottom: 3%;
}
div#footer ul.links li{
	display: inline-block;
	padding: 0 2%;
	text-align: left;
}
div#footer ul.links li h2{
	font-size: 0.8em;
	padding-bottom: 10%;
	color: #FFF;
	font-weight: bold;
}

div#footer ul.links li a{
	font-size: 0.8em;
	color: #FFF;
}
div#footer hr  {
	width: 40%;
	margin: 0 auto;
	height: 1px;
	border: 0;
	background-color: #3d414a;
}


div#footer div.nav {
	padding: 3% 0;
}
div#footer div.nav ul li {
	display: inline-block;
	padding: 0 1%;
	color: #FFF;
}

div#footer div.nav ul li a {
	font-weight: bold;
	font-size: 0.8em;
	color: #FFF;
}
